<style>

    #searchbtn {
        background-color: lightyellow;
        color:black
        }
    
    #search {
        background-color: lightyellow;
        }
        .bg-dark {
        color: lightyellow;
        }
        .bg-secondary {
        color: lightyellow;
        }
        .add-form {
        background-color: lightyellow;
        }
        .navbar-brand {
        color: lightyellow;
        }
    
    </style>
    <!-- <a id="add-beg" name="add-beg"></a> -->
    <!-- <div class="container"> -->
        <nav class="navbar navbar-dark bg-dark flex-column flex-sm-row">
            <div class="container-fluid">
                <a class="navbar-brand flex-sm-fill text-sm-left">Booking Management System</a>
                <!-- <form class="form-inline d-flex flex-column flex-sm-row">
                    <input class="form-control me-2 flex-sm-fill text-sm-left" type="search" id="search" placeholder="Search By Last Name" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0 flex-sm-fill text-sm-left" type="submit" id="searchbtn">Search</button>
                </form> -->
            </div>
        </nav>
    <!-- </div> -->
    
    <div class="jumbotron jumbotron-fluid">
        <!-- <div class="container"> -->
            <div class="row">
                <div class="col-4">
                    <img src="assets\images\sadsd_logo.jpg" alt="">
                </div>
                <div class="col-8 p-md-5">
            <h1 class="display-4">Thanks For Using Our</h1>
            <h1 class="display-4">Booking Management Application</h1>
            <!-- <p class="lead font-weight-bold">Please remember that booking information is <b><i>CONFIDENTIAL!</i></b></p> -->
            <!-- <p class="lead font-weight-bold"><b><i>Only for authorized personnel</i></b> conducting official San Antonio Dependent School District (SADSD) business.</p> -->
        </div>
    </div>
    </div>
    <!-- </div> -->
    
    <!-- <div class="container-sm"> -->
        <div class="bg-dark">
            <h3 class="bg-dark border border-dark text-center">Booking</h3>
            <br>
        </div>
        <form (ngSubmit)="savedBooking()" class="add-form">
            <!-- <div class="form-group p-md-5"> -->
            <div class="form-group">
                <div class="row g-3 justify-content-evenly">
                    <div class="col-3">
                        <!-- <label *ngIf="isEditing" class="form-label text-light">First Name</label> -->
                        <label for="guestFirstName" class="form-label text-dark">Guest First Name</label>
                        <input type="text" id="guestFirstName" name="guestFirstName" class="form-control border border-dark bg-dark"
                        required minlength="2" pattern ="[a-zA-Z ]*"
                        [(ngModel)]="newBooking.guestFirstName" #guestFirstName="ngModel">
                    
                        <div *ngIf="guestFirstName.invalid && (guestFirstName.dirty || guestFirstName.touched)"
                        class="alert">
    
                            <div *ngIf="guestFirstName.errors?.pattern">
                            First Name needs to be a string.
                            </div>
                            <div *ngIf="guestFirstName.errors?.required">
                            First Name is required.
                            </div>
                            <div *ngIf="guestFirstName.errors?.minlength">
                            First Name must be at least 2 characters long.
                            </div>
                            <div *ngIf="guestFirstName.errors?.forbiddenName">
                            First Name cannot be.
                            </div>
                    
                        </div>
                    </div>
    
                    <div class="col-3">
                        <!-- <label *ngIf="isEditing" class="form-label text-light">Last Name</label> -->
                        <label for="guestLastName" class="form-label text-dark">Guest Last Name</label>
                        <input type="text" id="guestLastName" name="guestLastName" class="form-control border border-dark bg-dark"
                        required minlength="2" pattern ="[a-zA-Z ]*"
                        [(ngModel)]="newBooking.guestLastName" #guestLastName="ngModel">
                        
                        <div *ngIf="guestLastName.invalid && (guestLastName.dirty || guestLastName.touched)"
                        class="alert">
                    
                        <div *ngIf="guestLastName.errors?.pattern">
                            Last Name needs to be a string.
                            </div>
                            <div *ngIf="guestLastName.errors?.required">
                            Last Name is required.
                            </div>
                            <div *ngIf="guestLastName.errors?.minlength">
                            Last Name must be at least 2 characters long.
                            </div>
                            <div *ngIf="guestLastName.errors?.forbiddenName">
                            Last Name cannot be.
                            </div>
                    
                        </div>
    
                    </div>
                <div class="row g-3 justify-content-evenly">
                    <div class="col-3">
                        <!-- <label *ngIf="isEditing" class="form-label text-light">Booking ID</label> -->
                        <label for="guestEmail" class="form-label text-dark">Guest Email</label>
                        <input type="text" id="guestEmail" name="guestEmail" class="form-control border border-dark bg-dark"
                        required minlength="6" pattern="^[a-zA-Z ]*$"
                        [(ngModel)]="newBooking.guestEmail" #guestEmail="ngModel">
                        
                        <div *ngIf="guestEmail.invalid && (guestEmail.dirty || guestEmail.touched)"
                        class="alert">
    
                            <div *ngIf="guestEmail.errors?.pattern">
                            Guest Email needs to be numeric.
                            </div>
                            <div *ngIf="guestEmail.errors?.required">
                            Guest Email is required.
                            </div>
                            <div *ngIf="guestEmail.errors?.minlength">
                            Guest Email must be 6 digits long.
                            </div>
                            <div *ngIf="guestEmail.errors?.forbiddenName">
                            Guest Email cannot be.
                            </div>
                    
                        </div>
                    </div>
                    <div class="col-3">
                        <!-- <label *ngIf="isEditing" class="form-label text-light">Email</label> -->
                        <label for="guestCellphone" class="form-label text-dark">Guest Cell Phone</label>
                        <input type="text" name="guestCellphone" class="form-control border border-dark bg-dark"
                        required minlength="7" pattern ="[a-zA-Z ]*"
                        [(ngModel)]="newBooking.guestCellphone" #guestCellphone="ngModel">
                        
                        <div *ngIf="guestCellphone.invalid && (guestCellphone.dirty || guestCellphone.touched)"
                        class="alert">
                        
                        <div *ngIf="guestCellphone.errors?.pattern">
                            Guest Cell Phone needs to be a string.
                            </div>
                    
                            <div *ngIf="guestCellphone.errors?.required">
                            Guest Cell Phone is required.
                            </div>
                            <div *ngIf="guestCellphone.errors?.minlength">
                            Guest Cell Phone must be at least 7 characters long.
                            </div>
                            <div *ngIf="guestCellphone.errors?.forbiddenName">
                            Guest Cell Phone cannot be.
                            </div>
                    
                        </div>
                    </div>
                </div>
                <div class="row g-3 justify-content-evenly">
                    <div class="col-3">
                        <!-- <label *ngIf="isEditing" class="form-label text-light">Grade Level</label> -->
                        <label for="partyOf" class="form-label text-dark">Party Of</label>
                        <input type="number" id="partyOf" name="partyOf" class="form-control border border-dark bg-dark"
                        required minlength="4" pattern="^[1-9]*$"
                        [(ngModel)]="newBooking.partyOf" #partyOf="ngModel">
                        
                        <div *ngIf="partyOf.invalid && (partyOf.dirty || partyOf.touched)"
                        class="alert">
                            <div *ngIf="partyOf.errors?.pattern">
                                Party Of cannot be zero.
                            </div>
                            <div *ngIf="partyOf.errors?.required">
                                Party Of is required.
                            </div>
                            <!-- <div *ngIf="email.errors?.minlength">
                            Email must be at least 4 characters long.
                            </div> -->
                        </div>
                    </div>
                    <div class="col-3">
                        <!-- <label *ngIf="isEditing" class="form-label text-light">DOB</label> -->
                        <label for="locationRequested" class="form-label text-dark">Location Requested</label>
                        <input type="text" id="locationRequested" name="locationRequested" class="form-control form-control bg-dark"
                        required minlength="8"
                        [(ngModel)]="newBooking.locationRequested" #locationRequested="ngModel">
                        
                        <div *ngIf="locationRequested.invalid && (locationRequested.dirty || locationRequested.touched)"
                        class="alert">
    
                        <!-- <div *ngIf="dateOfBirth.errors?.pattern">
                            DOB needs to be a string.
                            </div> -->
                            <div *ngIf="locationRequested.errors?.required">
                                Location Requested is required.
                            </div>
                            <div *ngIf="locationRequested.errors?.minlength">
                                Location Requested must be at least 4 characters long.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3 justify-content-evenly">
                    <div class="col-3">
                        <!-- <label *ngIf="isEditing" class="form-label text-light">Emergency Contact #</label> -->
                        <label for="arrivalDate" class="form-label text-dark">Arrival Date</label>
                        <input type="text" id="arrivalDate" name="arrivalDate" class="form-control border border-dark bg-dark"
                        required minlength="12"
                        [(ngModel)]="newBooking.arrivalDate" #arrivalDate="ngModel">
                        
                        <div *ngIf="arrivalDate.invalid && (arrivalDate.dirty || arrivalDate.touched)"
                        class="alert">
                            <div *ngIf="arrivalDate.errors?.required">
                            Emergency Contact Number is required.
                            </div>
                            <div *ngIf="arrivalDate.errors?.minlength">
                            Emergency Contact Number must be at least 4 characters long.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3 d-flex justify-content-xxl-evenly">
                    <div class="col-4 g-3 d-flex justify-content-xxl-evenly">        
                        <button *ngIf="!isEditing" type="submit" class="btn btn-lg btn-success" id="save">Create</button>
                        <button *ngIf="isEditing" type="submit" class="btn btn-lg btn-primary" id="update">Update</button>
                    </div>
                    <div class="col-4 g-3 d-flex justify-content-xxl-evenly">
                        <a routerLink="/bookings" class="btn btn-lg btn-warning">Cancel</a>
                    </div>
                    <div class="col-4 g-3 d-flex justify-content-xxl-evenly">
                        <button (click)="deletedBooking(newBooking.id)" class="btn btn-lg btn-danger">Delete</button>
                    </div>
                    <div class="row g-3 justify-content-xxl-evenly bg-light">
                    </div>
                </div>
            </div>
        </div>
        </form>
        <!-- <div class="row g-3 d-flex justify-content-xxl-evenly">
            <a href="#add-beg">Back To Top</a>
        </div> -->
    <!-- </div> -->
    