<style>
    #searchbtn {
        background-color: lightyellow;
        color:black
        }
    
    #searchbg {
        background-color: lightyellow;
        }
    
        .navbar-brand {
        color: lightyellow;
        }
    
        .bg-dark {
        color: lightyellow;
        }
        .bg-secondary {
        color: lightyellow;
        }
    
    </style>
    <a id="list-beg" name="list-beg"></a>
    <!-- <div class="container"> -->
        <nav class="navbar navbar-dark bg-dark flex-column flex-sm-row">
            <div class="container-fluid">
            <a class="navbar-brand flex-sm-fill text-sm-left">SADSD Information Management System</a>
            <form class="form-inline d-flex flex-column flex-sm-row">
            <input class="form-control me-2 flex-sm-fill text-sm-left" type="search" id="searchbg" placeholder="Search By Last Name" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0 flex-sm-fill text-sm-left" id="searchbtn" type="submit">Search</button>
            </form>
        </div>
        </nav>
    <!-- </div> -->
    
    <div class="jumbotron jumbotron-fluid">
        <!-- <div class="container"> -->
            <div class="row">
                <div class="col-4">
                    <img src="assets\images\sadsd_logo.jpg" alt="">
                </div>
                <div class="col-8 p-md-5">
                    <h1 class="display-4">Welcome to the</h1>
                    <h1 class="display-4">Booking Records Management Application</h1>
                    <p class="lead font-weight-bold">Please remember that booking information is <b><i>CONFIDENTIAL!</i></b></p>
                    <p class="lead font-weight-bold"><b><i>Only for authorized personnel</i></b> conducting official San Antonio Dependent School District (SADSD) business.</p>
                </div>
            </div>
        </div>
    <!-- </div> -->
    
    <!-- <div class="container"> -->
        <div class="bg-dark">
            <h3 class="bg-dark border border-dark text-center">Booking Records</h3>
            <br>
        </div>
    <div>
            <table class="table table-striped table-hover">
                <thead class="bg-secondary">
                    <tr class=" text-center">
                    <th scope="col">origEntryDate</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">guestEmail</th>
                    <th scope="col">guestCellphone</th>
                    <th scope="col">partyOf</th>
                    <th scope="col">locationRequested</th>
                    <th scope="col">arrivalDate</th>
                    <th scope="col">departureDate</th>
                    <th scope="col">status</th>
                    <th scope="col">lastModifiedDate</th>
                    <th scope="col">reviewedBy</th>
                    <th scope="col">lastReviewDate</th>
                    <th></th>
                    <th><a routerLink="/add-booking" class="btn btn-sm btn-success">New Record</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let booking of bookings" class="text-center">
                            <td>{{booking.origEntryDate}}</td> 
                            <td>{{booking.guestFirstName}}</td>
                            <td>{{booking.guestLastName}}</td>
                            <td>{{booking.guestEmail}}</td>
                            <td>{{booking.guestCellphone}}</td>
                            <td>{{booking.partyOf}}</td>
                            <td>{{booking.locationRequested}}</td>
                            <td>{{booking.arrivalDate}}</td>
                            <td>{{booking.departureDate}}</td>
                            <td>{{booking.status}}</td>
                            <td>{{booking.lastModifiedDate}}</td>
                            <td>{{booking.reviewedBy}}</td>
                            <td>{{booking.lastReviewDate}}</td>
                            <td><a routerLink="/edit-booking/{{booking.id}}" class="btn btn-sm btn-primary">Edit</a></td>
                            <td><button (click)="deletedBooking(booking.id)" class="btn btn-sm btn-danger">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row g-3 d-flex justify-content-xxl-evenly">
            <a href="#list-beg">Back To Top</a>
        </div>
    <!-- </div> -->